#image1{

    width: 5%;
}
.image1{
    margin: 3px;
    float: right;
}
.body{
background-color: antiquewhite;
}
.border{
background-color: #5e6da3;
color: #5e6da3;
}
.lists {
margin-left: 37px;
margin-top: 2px;
}
.button1{
background-color: #a4c6cfc4;
float: left;
height: 33px;
margin-left: 6px;
}
.button2{
    background-color: #6794a1c4;
    float: left;
    height: 33px;
    margin-left: 6px;
    left: 49%;
    position: relative;
    width: 4%;
    height: 25px;
    }
.table1{
margin-left: 41%;
margin-top: 5%;
}
.forms{
    margin-left: 42%;
    top: 37px;
    position: relative;
}
h5{
    margin-left: 9px;
    left: -189px;
    position: relative;
    top: 6px;
}
.con{
    background-color: #2e8bc9;
    width: 72%;
    left: 15%;
    position: relative;
    height: 24px;
}
h4{
    font-family:'Calibri';
}
.quota{
    width: 65%;
    left: 19%;
    position: relative;
    height: 24px;
}
.para1{
    font-family: calibri;
    font-weight: 600;
    color: red;
    left: 62%;
    position: relative;
    width: 25%;
    bottom: 3rem;

}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}
.table2{
    left: 15%;
    position: relative;
    top: -41px;
}
.table2 th{
    background-color: #bbd6ff;
   
    color: rgb(0, 0, 92);
}
.t2 td{
    height: 4px;
} 
.p1{
    background-color: #bbd6ff;
    width: 114px;
    border-radius: 1px;
}
.p2{
    background-color: #bbd6ff;
    width:72%;
    border-radius: 1px;
    top: -16px;
    position: relative;
    height: 22px;
}
/* .table3{
    
} */

.t3 {
    width: 70%;
}
.t2 {
    width: 72%;
}
.table3{
    left: 1%;
    position: relative;
    top: 0px;

}
.t3 button {
    border: none;
    cursor: pointer;
    position: relative;
    left: 19px;
    background-color: white;

}
.b3{
    background-color: #749ab4;
    border: none;
    border-radius: 3px;
    left: 59%;
    position: relative;
    top: -46px;
    color: white;
    font-family: calibri;
    cursor: pointer;
    height: 20px;

}
.pp3{
    left: 238px;
    top: -42px;
    position: relative;
    color: black;
    font-family: calibri;
    font-size: 13px;
    font-weight: 600;
}
.pp4{
    left: 365px;
    top: -69px;
    position: relative;
    color: black;
    font-family: calibri;
    font-size: 12px;
    font-weight: 600;
}
.inputT{
    width: 123px;
    left: 46px;
    position: relative;
    background-color: #e7edff;
}
.input2{
    width: 36px;
    left: 18px;
    position: relative;
    background-color: #e7edff;s
}

#select1{
    width: 64px;
    left:35px;
    position: relative;
    background-color:#e7edff;

}
#select2{
    width: 116px;
    left: 80px;
    position: relative;
    background-color: #e7edff;

}
#select3{
    width: 65px;
    left: 24px;
    position: relative;
    background-color: #e7edff;

}
.check{
    width: 54px;
    left: 20px;
    position: relative;
    color: #e7edff;

}
.num1{
    left: 101px;
    position: relative
}

.pp5{
    color: #cd0584;
    top: -39px;
    position: relative;
    left: 159px;
    font-weight: bold;
    font-family: calibri;
}
.con2{
    background-color: #2e8bc9;
    width: 72%;
    left: 15%;
    position: relative;
    height: 24px;
}
.inputT1{
    width: 123px;
    left: 161px;
    position: relative;
    background-color: #e7edff;
}
#select4{
    width: 64px;
    left: 105px;
    position: relative;
    background-color: #e7edff;

}
#select5{
    width: 64px;
    left: 0px;
    position: relative;
    background-color: #e7edff;

}

.con3{
    border: 1px solid grey;
    width: 72%;
    left: 15%;
    position: relative;
    top: -67px;
    height: 25rem;
}
.A{
    display: flex;
    left: 18%;
    position: relative;
    top: -453px;
}
.B{
    display: flex;
    left: 18%;
    position: relative;
    bottom: 435px;
}
.a{
    border: 1px solid grey;
    width: 33%;
    height: 13rem;


}
.b{
    border: 1px solid grey;
    width: 33%;
    height: 14rem;
    left: 5px;
    position: relative;

}
.c{
    border: 1px solid grey;
    width: 33%;
    height: 7rem;
    top: -11px;
    position: relative;

}
.d{
    border: 1px solid grey;
    width: 33%;
    height: 6rem;
    left: 6px;
    position: relative;
    top: -11px;


}
.line{
    top: -25rem;
    position: relative;
    width: 73%;
    left: 13rem;
}
.lists2 {
    margin-left: -227px;
    margin-top: 2px;
    font-size: large;
    font-family: calibri;
    }
 .hello{
    top: -20rem;
    position: relative;

    }
    .t2 td{
        font-family: calibri;
        text-align: center;
    }
.image3{
    width: 100%;
    top: 14rem;
    position: relative;
}

.lists3{
    top: 15rem;
    position: relative;
}
.con4{
    background-color: #2e8bc9;
    width: 72%;
    left: 15%;
    position: relative;
    height: 24px;
}
.con6{
    background-color: #2e8bc9;
    width: 72%;
    left: 15%;
    position: relative;
    height: 24px;
}
.this{
    border: 1px solid #85a4bd;
    position: relative;
    top: -26rem;
    height: 13rem;
    width: 72%;
    left: 13.2rem;
}

.payment{
    left: 14px;
    position: relative;
    font-family: calibri;
    color: #0a2b8f;

}
.pay{
    left: 15%;
    position: relative;
    top: -2rem;
}
.intenet_bank{
    left: 8%;
    position: relative;
}
.credit{
    left: 8%;
    position: relative;
    color: #0a2b8f;
}
.debit{
    left: 8%;
    position: relative;
}

.banks{
    left: 1%;
    position: relative;
    top: 2rem;
    color: #0a2b8f;
}
#bank{
    left: 10%;
    position: relative;
    top: 2rem;
    color: black;
    width: 10%;
}
.list3{
    top: 8rem;
    position: relative;
}
.tag{
    top: -8rem;
    position: relative;
    left: 6%;
    background-color: #f5a700;
    width: 90%;
    height: 23px;
    color: white;
    font-family: calibri;
}
.cls1{
    background-color: #f5a700;
    color: white;
    border: none;
    appearance: none;
}
.cls{
    left: 48%;
    position: relative;
    top: -7rem;
    width: 52%;
}
